<h1> Lista de Pendientes ( ͡° ͜ʖ ͡°) </h1>

<div class="well well-lg">Esto es una lista de hueás pendientes
	<table>
		<tr>
			<th> Título </th>
			<th> Descripción </th>
		</tr>
		<% @todos.each do |todo| %>
		<tr>
			<td> <%= todo.title %> </td>
			<td> <%= todo.description %> </td>
			<td> <%= link_to "Ver", todo_path(todo.id) %> </td>
			<td> <%= link_to "Editar", edit_todo_path(todo.id) %> </td>
			<td> <%= link_to "Eliminar", todo_path(todo.id), method: :delete, data: { confirm: '¿Estás seguro de eliminar tarea?'} %> </td>
			<td> <%= link_to "Terminar tarea", task_done_path(todo.id) %> </td>
		</tr>
		<% end %>
	</table>
</div>

<%= link_to "Crear ToDo", new_todo_path %>