<h1> Crear un nuevo pendiente ʕ•ᴥ•ʔ </h1>

<%= form_with model: @todo, local: true do |form| %>
  <%= form.label 'Asunto' %>
  <%= form.text_field :title %>
  <%= form.label 'Descripción' %>
  <%= form.text_area :description %>
  <%= form.submit %>
<% end %>